<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Create</title>
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css"
	rel="stylesheet">
<link
	href="static/bootstrap-select-1.12.4/dist/css/bootstrap-select.css"
	rel="stylesheet">
<link
	href="static/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script
	src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="static/bootstrap-select-1.12.4/dist/js/bootstrap-select.js"></script>


<style type="text/css">
body {
	padding: 10px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<!-- ------------------------ -->
			<div class="col-md-12 column col-sm-2">
				<div class="page-header">
					<h1>操作区</h1>
					<h1>
						<small>Node</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Node
						Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Node_Name"
							placeholder="请输入" style="width: 200px;" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">IP</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="IP" placeholder="请输入"
							style="width: 200px;" value="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 c">Node Type</label>
					<div class="col-sm-10 ">
						<select id="sel1" class="selectpicker">
							<option value="Satellite">Satellite</option>
							<option value="Auxiliary">Auxiliary</option>
							<option value="Combined">Combined</option>
							<option value="Controller">Controller</option>
						</select>
					</div>
					<script type="text/javascript">
					$('#sel1').selectpicker({width:200});
					</script>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="Node_create" id="Node_create" data-target="#myModal1">Create</button>
					</div>
				</div>
			</div>

			<!---------------------------->
			<div class="col-md-12 ">
				<div class="page-header">
					<h1>
						<small>Storage pool</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Storage
						Pool Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id='SP_Name'
							placeholder="请输入" style="width: 200px;" value="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 ">Node</label>
					<div class="col-sm-10 ">
						<select id="Node" class="selectpicker">
						</select>
					</div>
					<script type="text/javascript">
					
					$('#Node').selectpicker({width:200});
					
					 $(function() {
                            $.ajax({
                                url: "/node_create",
                                type: "get",
                                dataType: "json",
                                success: function(data) {
                                    //var _data = data.data; //由于后台传过来的json有个data，在此重命名
                                      $('#Node').html(""); 
                                    var html = "";
                                	
                                    for(i in data) {
                                   
                                     html += '<option value=' + data[i].key_node + '>' + data[i].key_node + '</option>'
                                    }
                                      $('#Node').append(html);  
                                            // 缺一不可
							        $('#Node').selectpicker('refresh');
							        $('#Node').selectpicker('render');
                                }
                            });
                            });   $(window).on('load', function () {
							    $('#Node').selectpicker({
							        'selectedText': 'cat'
							    });
							});
					</script>
				</div>
				<div class="form-group">
					<label class="col-sm-2 ">vg/thin lv</label>
					<div class="col-sm-10">
						<input type="radio" name="gender" value="-lvm" id='radio1' />lvm
						<input type="radio" name="gender" value="-tlv" id='radio2' />thin_lvm
						<select id="lv" class="selectpicker ">
						</select>
						<script>
		 // 根据单选框触发是否提交事件!
    $('input:radio[name="gender"]').change(function () {
        if ($("#radio1").is(":checked")) {
           $(function() {
                            $.ajax({
                                url: "/lvm",
                                type: "get",
                                dataType: "json",
                                success: function(data) {
                                    //var _data = data.data; //由于后台传过来的json有个data，在此重命名
                                      $('#lv').html(""); 
                                    var html = "";
                                    var lvm =data.lvm
                                    for(i in lvm) {
                                     html += '<option value=' + lvm[i].cityName + '>' + lvm[i].cityName + '</option>'
                                    }
                                      $('#lv').append(html);  
                                            // 缺一不可
							        $('#lv').selectpicker('refresh');
							        $('#lv').selectpicker('render');
                                }
                            });
                            });
                             $(window).on('load', function () {
							    $('#lv').selectpicker({
							        'selectedText': 'cat'
							    });
							});
        }
        if ($("#radio2").is(":checked")) {
             $(function() {
                            $.ajax({
                                url: "/lvm",
                                type: "get",
                                dataType: "json",
                                success: function(data) {
                                    //var _data = data.data; //由于后台传过来的json有个data，在此重命名
                                      $('#lv').html(""); 
                                    var html = "";
                                    var thin_lvm = data.thin_lvm
                                    for(i in thin_lvm) {
                                     html += '<option value=' + thin_lvm[i].cityName + '>' + thin_lvm[i].cityName + '</option>'
                                    }
                                      $('#lv').append(html);  
                                            // 缺一不可
							        $('#lv').selectpicker('refresh');
							        $('#lv').selectpicker('render');
                                }
                            });
                            });
                             $(window).on('load', function () {
							    $('#lv').selectpicker({
							        'selectedText': 'cat'
							    });
							});
        }
    })
		
	</script>

						<script>
			$("[name='gender']").val(["0"]);
			$("#show").val("默认值");
				</script>

						<script type="text/javascript">
					$('#lv').selectpicker({width:100});
					$('#Node_one').selectpicker({width:200});
					</script>

					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="storage_pool_create" id="storage_pool_create"
							data-target="#myModal1">Create</button>
					</div>
				</div>

			</div>
			<!-- ------------------------ -->
			<div class="col-md-12 column">

				<div class="page-header">
					<h1>
						<small>Resource</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Resource
						Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Resource_Name_one"
							placeholder="请输入" style="width: 200px;" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">Size</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="Size_one"
							placeholder="请输入" style="width: 100px;" value="">
					</div>
					<div class="col-sm-9">
						<select class="selectpicker" id="select_one">
							<option value="0">GB</option>
							<option value="1">TB</option>
							<option value="2">MB</option>
							<option value="3">KB</option>
						</select>
					</div>
					<script type="text/javascript">
					$('#select_one').selectpicker({width:105});
					</script>
				</div>
				<div class="form-group">
					<label class="col-sm-2 c">Node</label>
					<div class="col-sm-10 ">
						<select id='Node_one' name='Node_one' multiple
							class="selectpicker" data-live-search="true">
						</select>
					</div>

					<script type="text/javascript">
					$('#Node_one').selectpicker({width:200});
					
				    $(function() {
                            $.ajax({
                                url: "/test",
                                type: "get",
                                dataType: "json",
                                success: function(data) {
                                    //var _data = data.data; //由于后台传过来的json有个data，在此重命名
                                      $('#Node_Two').html(""); 
                                    var html = "";
                                    for(i in data) {
                                     html += '<option value=' + data[i].cityName + '>' + data[i].cityName + '</option>'
                                    }
                                      $('#Node_Two').append(html);  
                                            // 缺一不可
							        $('#Node_Two').selectpicker('refresh');
							        $('#Node_Two').selectpicker('render');
                                }
                            });
                            });
                             $(window).on('load', function () {
							    $('#Node_Two').selectpicker({
							        'selectedText': 'cat'
							    });
							});
					</script>
				</div>

				<div class="form-group">
					<label class="col-sm-2 ">Storage pool</label>
					<div class="col-sm-10 ">
						<select id='Storage_pool' name='Storage_pool' multiple
							class="selectpicker" data-live-search="true">

						</select>
					</div>


					<script type="text/javascript">
					
					$('#Storage_pool').selectpicker({width:200});
					
				    $(function() {
                            $.ajax({
                                url: "/testthree",
                                type: "get",
                                dataType: "json",
                                success: function(data) {
                                    //var _data = data.data; //由于后台传过来的json有个data，在此重命名
                                      $('#Storage_pool').html(""); 
                                    var html = "";
                                    for(i in data) {
                                    var NName = data[i].NodeName
                                    var device_name = data[i].Spool
                                    for(a in device_name){
                                     html += '<optgroup label='+NName+'>'+'<option value=' + device_name[a].device_name + '>' + device_name[a].device_name + '</option>'+'</optgroup>'
                                    }
                                    }
                                      $('#Storage_pool').append(html);  
                                            // 缺一不可
							        $('#Storage_pool').selectpicker('refresh');
							        $('#Storage_pool').selectpicker('render');
                                }
                            });
                            });
                             $(window).on('load', function () {
							    $('#Storage_pool').selectpicker({
							        'selectedText': 'cat'
							    });
							});
					</script>

				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="mirror_create_one" id="mirror_create_one"
							data-target="#myModal1">Create</button>
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="add_mirror_one" id="add_mirror_one" data-target="#myModal1">Add
							Mirror</button>
					</div>
				</div>

			</div>
			<!-- ------------------------ -->
			<div class="col-md-12 column col-sm-2">
				<div class="page-header">
					<h1>
						<small>Resource</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Resource
						Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Resource_Name_two"
							placeholder="请输入" style="width: 200px;" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">Size</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="Size_two"
							placeholder="请输入" style="width: 100px;" value="">
					</div>
					<div class="col-sm-9">
						<select class="selectpicker" id="select_two">
							<option value="GB">GB</option>
							<option value="TB">TB</option>
							<option value="MB">MB</option>
							<option value="KB">KB</option>
						</select>
					</div>
					<script type="text/javascript">
					$('#select_two').selectpicker({width:105});
					</script>
				</div>
				<div class="form-group">
					<label class="col-sm-2 c">Node Num</label>
					<div class="col-sm-10 ">
						<select id="Node_Num" class="selectpicker">
						</select>
					</div>
					<script type="text/javascript">
					$('#Node_Num').selectpicker({width:100});
					   $(function() {
                            $.ajax({
                                url: "/test",
                                type: "get",
                                dataType: "json",
                                success: function(data) {
                                    //var _data = data.data; //由于后台传过来的json有个data，在此重命名
                                      $('#Node_Num').html(""); 
                                    var html = "";
                                    var lvm =data.lvm
                                    for(i in lvm) {
                                     html += '<option value=' + lvm[i].cityName + '>' + lvm[i].cityName + '</option>'
                                    }
                                      $('#Node_Num').append(html);  
                                            // 缺一不可
							        $('#Node_Num').selectpicker('refresh');
							        $('#Node_Num').selectpicker('render');
                                }
                            });
                            });   $(window).on('load', function () {
							    $('#Node_Num').selectpicker({
							        'selectedText': 'cat'
							    });
							});
					</script>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="mirror_create_two" id="mirror_create_two"
							data-target="#myModal1">Create</button>
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="add_mirror_two" id="add_mirror_two" data-target="#myModal1">Add
							Mirror</button>
					</div>
				</div>
			</div>
			<!-- ------------------------ -->

			<div class="col-md-12 column">

				<div class="page-header">
					<h1>
						<small>Diskless resource</small>
					</h1>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Resource
						Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Diskless_name"
							placeholder="请输入" style="width: 200px;" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">Node</label>
					<div class="col-sm-10">
						<select id="Diskless_node" class="selectpicker">
						</select>
					</div>
					<script type="text/javascript">
					
					$('#Diskless_node').selectpicker({width:200});
				 $(function() {
                            $.ajax({
                                url: "/test",
                                type: "get",
                                dataType: "json",
                                success: function(data) {
                                    //var _data = data.data; //由于后台传过来的json有个data，在此重命名
                                      $('#Diskless_node').html(""); 
                                    var html = "";
                                    var lvm =data.lvm
                                    for(i in lvm) {
                                     html += '<option value=' + lvm[i].cityName + '>' + lvm[i].cityName + '</option>'
                                    }
                                      $('#Diskless_node').append(html);  
                                            // 缺一不可
							        $('#Diskless_node').selectpicker('refresh');
							        $('#Diskless_node').selectpicker('render');
                                }
                            });
                            });   $(window).on('load', function () {
							    $('#Diskless_node').selectpicker({
							        'selectedText': 'cat'
							    });
							});
				
					</script>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" data-toggle="modal"
							name="Diskless_Create" id="Diskless_Create"
							data-target="#myModal1">Create</button>
					</div>
				</div>
			</div>
			<!---------------------------->
		</div>


		<!-- 模态框 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
					</div>
					<div class="modal-body">
						<div class="progress progress-striped active">
							<div id="prog" class="progress-bar" role="progressbar"
								aria-valuenow="" aria-valuemin="0" aria-valuemax="100"
								style="width: 0%;">
								<span id="monthTotal">${itsmStatisticMonth.sumCount}</span>
							</div>
						</div>
						<input type="text" id="double" name="double" value="">
					</div>
					<div class="modal-footer">
						<button type="button" id="newcreate" class="btn btn-default"
							data-dismiss="modal">再次创建</button>
						<input type="button" class="btn btn-default" value="查看表格" id="see">
					</div>

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</div>


	<script type="text/javascript">
	$("#Node_create").click(function () {
     var Node_Name = $("#Node_Name").val()
     var IP = $("#IP").val()
	
	 var ss = $("#sel1").val().toString()
	 alert(ss);
	     
     var Node_Type =document.getElementById("sel1");
     var index=Node_Type.selectedIndex;
     var Node_Type_Test = Node_Type.options[index].text;
     
     $.ajax({
         url:"/LINSTOR_message",
         type:"GET",
         data:{
             Node_Name:Node_Name,
             IP:IP,
             Node_Type_Test:Node_Type_Test
         },
             success:function () {
         alert("创建成功！！");
          }
          })
     $("#Node_Name").val("");
     $("#IP").val("");
 });
  ///////////////////////////////////////////////
 	$("#storage_pool_create").click(function () {
     var SP_Name = $("#SP_Name").val()
     
     var Node_One =document.getElementById("Node");
     var index = Node_One.selectedIndex;
     var Node_One_Text = Node_One.options[index].text;
     
     
     var radio_text = $("input[name='gender']:checked").val();

     var lv =document.getElementById("lv");
     var index = lv.selectedIndex;
     var lv_Text = lv.options[index].text;
     
     
     
     $.ajax({
         url:"/LINSTOR_message",
         type:"GET",
         data:{
             SP_Name:SP_Name,
             Node_One_Text:Node_One_Text,
             lvm_name:radio_text,
             lv_Text:lv_Text
             
         },
         success:function (data) {
         alert(data);
         },
         error:function () {
         }
     })
    $("#SP_Name").val("");
	$("#Node_One").val("");
 });
 ///////////////////////////////////////////
 
 
 
 /////////////////////////////////////
 $("#mirror_create_two").click(function () {
     var Resource_Name_two = $("#Resource_Name_two").val()
     var size_two = $("#Size_two").val()
     var select_two = $("#select_two").val().toString()
     var Node_Num = $("#Node_Num").val().toString()
     
     
     $.ajax({
         url:"/LINSTOR_message",
         type:"GET",
         data:{
             Resource_Name_two:Resource_Name_two,
             size_two:size_two,
             select_two:select_two,
             Node_Num:Node_Num
         },
         success:function (data) {

         //$("#double").val(data);
          //赋值
         },
         error:function () {
         }
     })
      $("#Resource_Name_two").val("");
     $("#size_two").val("");
 });
 
  $("#add_mirror_two").click(function () {
     var Resource_Name_two = $("#Resource_Name_two").val()
     var Node_Num = $("#Node_Num").val().toString()
     $.ajax({
         url:"/LINSTOR_message",
         type:"GET",
         data:{
             Resource_Name_two:Resource_Name_two,
             Node_Num:Node_Num
         },
         success:function (data) {
         //$("#double").val(data);
          //赋值
         },
         error:function () {
         }
     })
      $("#Resource_Name_two").val("");
     $("#size_two").val("");
 });
 //////////////////////////////////////
  $("#Diskless_Create").click(function () {
     var Diskless_name = $("#Diskless_name").val()
     var Diskless_node = $("#Diskless_node").val().toString()
     $.ajax({
         url:"/LINSTOR_message",
         type:"GET",
         data:{
             Diskless_name:Diskless_name,
             Diskless_node:Diskless_node
         },
         success:function (data) {
         //$("#double").val(data);
          //赋值
         },
         error:function () {
         }
     })
      $("#Diskless_name").val("");
 });
 
 
 
	</script>
	<script type="text/javascript">
$("#newcreate").click(function(){
 	$("input[type=text]").val('');
});
</script>

	<script type="text/javascript">
$("#see").click(function(){

window.parent.location.href="/";  

});
</script>

	<script type="text/javascript">
$(function(){
var i = 0;
setInterval(function(){
    $("#monthTotal").html("正在创建，请等待。。。");
	$(".progress-bar").css("width",i+"%")
	i++;
},300);
});

</script>
</body>
</html>